@import "tailwindcss";
 @plugin './hero.ts';
 @source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
 @custom-variant dark (&:is(.dark *));

@theme {
  --font-family-sans: "Poppins", system-ui, -apple-system, sans-serif;
  --font-family-serif: "Charter", serif;
}

/* Fonts */

/* Charter - bold italic */
@font-face {
  font-family: "Charter";
  src: url("/assets/fonts/charter/webfonts/charter_bold_italic-webfont.eot");
  src:
    url("/assets/fonts/charter/webfonts/charter_bold_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/charter/webfonts/charter_bold_italic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Charter - bold */
@font-face {
  font-family: "Charter";
  src: url("/assets/fonts/charter/webfonts/charter_bold-webfont.eot");
  src:
    url("/assets/fonts/charter/webfonts/charter_bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/charter/webfonts/charter_bold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Charter - italic */
@font-face {
  font-family: "Charter";
  src: url("/assets/fonts/charter/webfonts/charter_italic-webfont.eot");
  src:
    url("/assets/fonts/charter/webfonts/charter_italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/charter/webfonts/charter_italic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Charter - regular */
@font-face {
  font-family: "Charter";
  src: url("/assets/fonts/charter/webfonts/charter_regular-webfont.eot");
  src:
    url("/assets/fonts/charter/webfonts/charter_regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/charter/webfonts/charter_regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/poppins/poppins-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src:
    url("/assets/fonts/poppins/poppins-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/poppins/poppins-v20-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/assets/fonts/poppins/poppins-v20-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("/assets/fonts/poppins/poppins-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/poppins/poppins-v20-latin-regular.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/poppins/poppins-v20-latin-500.eot"); /* IE9 Compat Modes */
  src:
    url("/assets/fonts/poppins/poppins-v20-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/poppins/poppins-v20-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/assets/fonts/poppins/poppins-v20-latin-500.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/poppins/poppins-v20-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/poppins/poppins-v20-latin-500.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/poppins/poppins-v20-latin-700.eot"); /* IE9 Compat Modes */
  src:
    url("/assets/fonts/poppins/poppins-v20-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/poppins/poppins-v20-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/assets/fonts/poppins/poppins-v20-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/poppins/poppins-v20-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/poppins/poppins-v20-latin-700.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
