# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - app-swelibrary-prod

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to registry
      uses: docker/login-action@v2
      with:
        registry: https://tonylukeregistry.azurecr.io/
        username: ${{ secrets.AzureAppService_ContainerUsername_f76635462c624bcc8c2f4020d43da9bc }}
        password: ${{ secrets.AzureAppService_ContainerPassword_0ce1ab10124e4ffe8e43d7b56202548f }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: tonylukeregistry.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_f76635462c624bcc8c2f4020d43da9bc }}/swe-library/app:${{ github.sha }}
        file: ./Dockerfile
        build-args: |
          DATABASE_URL=${{ secrets.DATABASE_URL }}
          NEXTAUTH_URL=${{ secrets.NEXTAUTH_URL }}
          NEXTAUTH_SECRET=${{ secrets.NEXTAUTH_SECRET }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'app-swelibrary-prod'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_6b9a0e96c89146bda6d9f72e1e435795 }}
        images: 'tonylukeregistry.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_f76635462c624bcc8c2f4020d43da9bc }}/swe-library/app:${{ github.sha }}'